<h3>User:</h3>
<h1>{{FirstName}} {{LastName}}</h1>
<h3>Email: {{Email}}</h3>
<h2>Movies:</h2>
<div>
  <ul>
    {{#each owned-movies}}
    <li>
      <a href="/owned-movies/{{UserId}}">
        {{ImdbId}}
      </a>
    </li>
    {{/each}}
  </ul>
  <ul>
    {{#each watched-movies}}
    <li>
      <a href="/watched-movies/{{UserId}}">
        {{ImdbId}}
      </a>
    </li>
    {{/each}}
  </ul>
  <ul>
    {{#each wish-list}}
    <li>
      <a href="/wish-list/{{UserId}}">
        {{ImdbId}}
      </a>
    </li>
    {{/each}}
  </ul>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function onDelete() {
        $.ajax({
            url: '/users/{{UserId}}/delete',
            method: 'DELETE', complete: () => window.location = "/users"
        })
    }
  <button class="delete" title="delete user-movies" (click)="onDelete(user-movies)">Delete</button>
</div>