<h1>{{title}}</h1>


<h2> {{firstName}} {{lastName}} Wish List:</h2>

<tbody>
    <ul>
        {{#each movies}}
        <li>
            <a href="/wish-list/{{userId}}">
                {{ImdbId}}
            </a>
        </li>
        {{/each}}
    </ul>
</tbody>